%h1="Contacto"

%div
  %p="Este es un blog de divulgación personal, pensado para que el autor aprenda y en el trayecto cuente sus experiencias. Por lo tanto todo lo que aquí se expresa es la humilde opinión del autor."

  %p="Si deseas ponerte en contacto conmigo puedes utilizar el formulario que aparece en la parte inferior. Toda critica constructiva sera bien recibida."